
Назначение системы: автоматизация контроля незаконной печатной продукции.

Цель: система должна обеспечить взаимодействие доносчиков, полицейских и пожарных и позволит проводить контроль расхода бюджетных средств и ресурсов со стороны правительства.
//

Характеристика объекта автоматизации
//

Функциональные требования

Граждане
1. Регистрация пользователей
2. Регистрация доносов

Правительство
3. Просмотр журнала доносов (кол-во сожженных книг, граждане - нарушители)
4. Контроль расходуемых средств - мониторинг расходов 
5. Управление бюджетом

Полиция (эл. собаки)
6. Выбор проверяемого дома по рейтингу доносчика
7. Выдача результата сканирования

Пожарные 

8. Выбор дома с наибольшим колличеством книг
9. Результативность выезда, общие итоги выполнения миссии (расход топлива, сожженные книги).

Нефункциональные.

1. Использование java
2. Собачий интерфейс
3. Клиент-серверное (Веб приложение).
4. ORM
5. целевая платформа Solaris 10.
6. Использование CSS фр-ка. 
7. Использование MVC




 

